/* gui_style.css */
body {
  background-color: lightgray;
}

h1 {
  color: black;
  text-align: center;
  margin-top: 1%;
}

p {
  margin: auto;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  font-family: verdana;
  font-size: 30px;
}
input[type=radio] {
    border: 0px;
    width: 100%;
    height: 2em;
}
input[type=submit] {
    margin: auto;
    border-radius: 5px; 
    margin-top: 2%;
    width: 10em;
    height: 5em;
    font-size: 20px;
}
input[type=range] {
    margin-top: 2%

}
.slidecontainer{
    margin: auto;
    margin-top: 1%
    border: 10px;
    width: 50%;
    text-align: center;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #989898;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
img{
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
.image_container{
  height: 60%;
}
.progress{
  margin: auto;
  width:70%;

}
.progress-bar{
  width: 50%;
  background: #B8B8B8;
}
.center_text{
  height: 100%;
  position: relative;
}
.center_text p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
.datalist{
  display: inline-block;
}